.passwordRecovery {
	text-align: center;

	.active {
		z-index: 10;
		display: inline-block;
	}

	&__form {
		display: flex;
		min-height: 100vh;
		align-items: center;
		justify-content: center;
		padding-top: 1.2rem;
	}

	&__form_block {
		display: inline-block;
		max-width: 330px;
		width: 100%;
		text-align: center;
		background-color: rgba(0, 0, 0, 0.2);
		border-radius: 2px;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
	}

	&__form_header {
		display: flex;
		flex-direction: column;
		padding: 1.25rem;
		position: relative;
		border-radius: 2px 2px 0 0;
		background-color: rgb(0, 0, 0, 0.2);
	}

	&__form_body {
		padding: 2rem;
	}

	&__form_body__block {
		display: flex;
		flex-direction: column;
		row-gap: 2rem;
		margin-bottom: 2rem;
	}
}
